@model Internet.Models.MoviesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MoviesViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="movie_name" class="control-label"></label>
                <input asp-for="movie_name" class="form-control" />
                <span asp-validation-for="movie_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rate" class="control-label"></label>
                <input asp-for="rate" class="form-control" />
                <span asp-validation-for="rate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="actor_id" class="control-label"></label>
                <select asp-for="actor_id" class="form-control"
                        asp-items="@(new SelectList(Model.Actor,"actor_id","actor_name"))">
                    <option>Place Select Actor...</option>
                </select>
                <span asp-validation-for="actor_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImgFile" class="control-label"></label>
                <input asp-for="ImgFile" class="form-control" />
                <span asp-validation-for="ImgFile" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
